/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400;600;700&display=swap');

/* Typography Reset */
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,
h6{
    font-family: $font-primary;
}
h1,.h1{
    font-size: 2rem;
    @include tablet{
        font-size: 1.5rem;
    }
}
h2,.h2{
    font-size: 1.5rem;
    @include tablet{
        font-size: 1rem;
    }
}
h3,.h3{
    font-size: 1.17rem;
    @include tablet{
        font-size: 0.9rem;
    }
}
h4,.h4{
    font-size: 1rem;
}
h5,.h5{
    font-size: 0.83rem;
}
h6,.h6{
    font-size: 0.67rem;
}
p{
    font-size: 1rem;
    @include tablet{
        font-size: 0.875rem;
    }
}